
/* use . to access class
use # to access id
use nothing to access normal tags 

classes more common than ids */ 


body{
    background-color: darkslategrey;
}

ul{
    margin: -8px;
    padding: 0;
    list-style-type: none;
    width: 1366px;
    text-align: left;
    background-color: rgb(29, 29, 29);
}

li{
    display: inline-block;
    color: white;
    padding: 20px 50px;
    margin: 0px;
    font-size: 30px;
}

li a{
    color: white;
}

li.logo{
    font-size: larger;
}

li:hover{
    background-color: rgb(65, 65, 65);
}


p{
    color: black;
}

p.chemistry{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: 50px 0 0 100px;
    text-align: center;
    font-size: 20px;
}

p.chemistry:hover{
    background-color: seagreen;
}

p.math{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: -300px 0 0 500px;
    text-align: center;
    font-size: 20px;
}

p.math:hover{
    background-color: blanchedalmond;
}

p.english{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: -300px 0 0 900px;
    text-align: center;
    font-size: 20px;
}

p.english:hover{
    background-color: darkred;
    
}

p.driv{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: 100px 0 0 100px;
    text-align: center;
    font-size: 20px;
}

p.history{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: -300px 0 0 500px;
    text-align: center;
    font-size: 20px;
}

p.compsci{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: -300px 0 0 900px;
    text-align: center;
    font-size: 20px;
}

p.spanish{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: 100px 0 0 100px;
    text-align: center;
    font-size: 20px;
}

p.elective{
    height: 250px;
    width: 200px;
    background-color: white;
    padding: 0px 100px 50px 0px;
    margin: -300px 0 0 500px;
    text-align: center;
    font-size: 20px;
}


p.form{
    text-align:center;
    font-size: 50px;
    color: white;
}